<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
        <title>{% block title %}{% endblock %}- Musee du Louvre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">

      <!-- Font-Awesome --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
      <!-- style local -->
        {% stylesheets 'bundles/myappbilletterie/css/style.css' filter='cssrewrite' %}
         <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}


    {% endblock %}

  </head>

    <body id="{% block theme %}page-top{% endblock %}">


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">
                {% image '@MyAppBilletterieBundle/Resources/public/images/logo-Louvre.png' %}
                  <img src= " {{ asset_url }} " alt= "Logo Louvre" />
                {% endimage %}
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a class="page-scroll" href="{{ path('my_app_billetterie_home') }}"><i class="fa fa-home fa-2x"></i>Accueil</a>
                </li>
                <li>
                  <a class="page-scroll" href="{{ path('my_app_billetterie_tarif') }}"><i class="fa fa-eur fa-2x"></i> Grille tarifaire</a>
                </li>

                <li>
                  <a class="page-scroll" href="{{ path('my_app_billetterie_cde') }}"><i class="fa fa-cart-plus fa-2x"></i> Réservation</a>
                </li>
                <li>
                  <a class="page-scroll" href="{{ path('my_app_billetterie_mention') }}"><i class="fa fa-gavel fa-2x"></i> Mentions légales</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
      <!-- /.container-fluid -->
        </nav>
        {% block body %}

        {% endblock %}
        <!-- Header -->
        <header>

        {% block header %}{% endblock %}

        </header>

        {% block sidebar %}{% endblock %}

      <footer>
        <div class="container text-center">
            <p>Designed by <a href="http://znackweb.com"><span>Znackweb</span>.com</a></p>
            <p><a href={{ path('my_app_billetterie_mention') }}><span><i class="fa fa-gavel"></i> Mentions </span>Légales</a></p>
        </div>
      </footer>


    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js" integrity="sha256-IxYUmOOk74FUrcx5FEMOHVmTJDb7ZAwnC/ivo/OQGxg=" crossorigin="anonymous"></script>


    {% endblock %}
</body>



</html>
