{% extends "MyAppBilletterieBundle::layout.html.twig" %}

   {% block title %}{{ parent() }} - Commande {% endblock %}

{% block header %}

<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <div class="intro-heading"> {{ 'COMMANDE' |trans }} </div>
            <div class="intro-lead-in">

                <ul class="nav nav-tabs" id="tab">
                    <li class="nav col-md-3 active" id="liJour"><a href="#ETAPE1" id="ongletJour" data-toggle="tab">ETAPE 1</a></li>
                    <li class="nav col-md-3 disabled" id="liBillet"><a href="#ETAPE2" id="ongletBillet" data-toggle="tab">ETAPE 2</a></li>
                    <li class="nav col-md-3 disabled" id="liPaiement"><a href="#ETAPE3" id="ongletPaiement" data-toggle="tab">ETAPE 3</a></li>
                    <li class="nav col-md-3 disabled" id="liConfirmation"><a href="#ETAPE4" id="ongletConfirmation" data-toggle="tab">RECAPITULATIF</a></li>
                </ul>

                {{ form_start(form) }}
                {{ form_errors(form) }}


             {#  <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Date de votre Commande :</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email"  value=" {{ "now" | date("d-m-y") }}"  disabled/>
                        </div>
                    </div>
                </div>#}

                <div class="form-group">
                    {{ form_label(form.datereserv,'Date de votre Commande : ',{'label_attr':{'class':'cols-sm-2 control-label' }}) }}
                    {{ form_errors(form.datereserv) }}
                    <div class="cols-sm-10">
                        <div id="datereserv" class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
                           {# {{ form_widget(form.datereserv,{'attr':{'class':'form-control input-sm date'}}) }}#}
                            <input type="text" id="myapp_billetteriebundle_commande_datereserv" name="myapp_billetteriebundle_commande[datereserv]" disabled="disabled" required="required" class="form-control input-sm date" value=" {{ "now" | date("d/m/y H:i") }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.datevisite,'Date de visite : ',{'label_attr':{'class':'cols-sm-2 control-label'}}) }}
                        {{ form_errors(form.datevisite) }}
                        <div class="cols-sm-10">
                            <div id="date" class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.datevisite,{'attr':{'class':'form-control input-sm date','placeholder':'Format dd/mm/yyyy'}}) }}
                            </div>
                    </div>

                <div class="form-group">
                    {{ form_label(form.email,'Votre E-mail : ',{'label_attr':{'class':'cols-sm-2 control-label'}}) }}
                    {{ form_errors(form.email) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.email,{'attr':{'class':'form-control  input-sm email', 'placeholder':'Entrer votre Email'}}) }}
                        </div>
                    </div>
                </div>
                        <div class="form-group">
                            {{ form_label(form.nbBillet,'Nombre de Billet : ',{'label_attr':{'class':'cols-sm-2 control-label'}}) }}
                            {{ form_errors(form.nbBillet) }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-ticket fa" aria-hidden="true"></i></span>
                                    {{ form_widget(form.nbBillet,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>



		{{ form_rest(form)}}
		{{ form_end(form)}}

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js" integrity="sha256-IxYUmOOk74FUrcx5FEMOHVmTJDb7ZAwnC/ivo/OQGxg=" crossorigin="anonymous"></script>

 <script>
    $(document).ready(function() {
        $('#date').datepicker({
            language: 'fr',
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            daysOfWeekDisabled: "0,2",
            minDate: new Date(),
            startDate: moment().startOf('month').toDate()
        });

    });
    </script>
{% endblock %}