<<<<<<< HEAD
{% extends "MyAppBilletterieBundle::layout.html.twig" %}
<?php $_SESSION['id'] = $_GET['id'];
$etape = $_GET['Etape']; ?>
   {% block title %}{{ parent() }} - Commande {% endblock %}

{% block header %}

<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <div class="intro-heading"> Commande </div>
            <div class="intro-lead-in">

                <ul class="nav nav-tabs" id="tab">
                    <li class="nav col-md-3 disabled" id="liJour"><a href="#jour" id="ongletJour" data-toggle="tab">ETAPE 1</a></li>
                    <li class="nav col-md-3 disabled" id="liBillet"><a href="#billet" id="ongletBillet" data-toggle="tab">ETAPE 2</a></li>
                    <li class="nav col-md-3 active" id="liPaiement"><a href="#paiement" id="ongletPaiement" data-toggle="tab">ETAPE 3</a></li>
                    <li class="nav col-md-3 disabled" id="liConfirmation"><a href="#confirmation" id="ongletConfirmation" data-toggle="tab">RECAPITULATIF</a></li>
                </ul>
    {{ form_start ( form ) }}
                {{ form_label (form.email) }}
                {# Ajouter +sieurs champs identiques
                {{ form_label ( form.emails ) }}
                {{ form_errors ( form.emails ) }}
                <ul id= "email-fields-list"
                    data-prototype= " {{ form_widget ( form.emails.vars.prototype )| e }} " >
                    {% for emailField in form.emails %}
                        <li>
                            {{ form_errors ( emailField ) }}
                            {{ form_widget ( emailField ) }}
                        </li>
                    {% endfor %}
                </ul>

                <a href= "#" id= "add-another-email" > Ajouter Billet </a> voir javascript ci dessous#}

                {{ form_widget ( form ) }}
    {{ form_end ( form ) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {% javascripts %}
{#<script  type= "text/javascript" >
    // keep track of how many email fields have been rendered
    var emailCount = ' {{ form.emails | length }} ' ;

    jQuery ( document ). ready ( function () {
        jQuery ( '#add-another-email' ). click ( function ( e ) {
            e . preventDefault ();

            var emailList = jQuery ( '#email-fields-list' );

            // grab the prototype template
            var newWidget = emailList . attr ( 'data-prototype' );
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget . replace ( /__name__/g , emailCount );
            emailCount ++ ;

            // create a new list element and add it to the list
            var newLi = jQuery ( '<li></li>' ). html ( newWidget );
            newLi . appendTo ( emailList );
        });
    })
</script>#}

    <script>
        $ ( document ). ready ( function () {
            $ ( '.js-datepicker' ). datepicker ({
                format : 'dd-mm-yyyy'
            });
        });
    </script>
    {% endjavascripts %}
=======

{% extends "MyAppBilletterieBundle::layout.html.twig" %}

   {% block title %}{{ parent() }} - Recapitulatif {% endblock %}

{% block header %}
<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <div class="intro-heading"> Récapitulatif de votre Commande </div>
            <div class="intro-lead-in">

                <ul class="nav nav-tabs" id="tab">
                    <li class="nav col-md-3 active" id="Cde"><a href="{{ path('my_app_billetterie_cde',{'id': recapCde.id}) }}" id="ongletJour" data-toggle="tab">ETAPE 1</a></li>
                    <li class="nav col-md-3 active" id="Cde"><a href="{{ path('my_app_billetterie_billet',{'id': recapCde.id}) }}" id="ongletJour" data-toggle="tab">ETAPE 2</a></li>
                    <li class="nav col-md-3 active" id="Recap"><a href="{{ path('my_app_billetterie_recap',{'id': recapCde.id}) }}" id="ongletPaiement" data-toggle="tab">ETAPE 3</a></li>
                    <li class="nav col-md-3 disabled" id="Paiement"><a href="{{ path('my_app_billetterie_paiement',{'id': recapCde.id}) }}" id="ongletConfirmation" data-toggle="tab">PAIEMENT</a></li>

                <div class="row">
                {% include'MyAppBilletterieBundle:billetterie:flashmessage.html.twig' %}
                        <table class="table table-striped table-hover ">
                            <thead>
                            <tr>
                                <th> Numéro de votre Commande :</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="info">
                                <td>{{ recapCde.codeReserv }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-hover ">
                            <thead>
                            <tr>
                                <th> Date de votre visite :</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="info">
                                <td>{{ recapCde.dateVisite|localizeddate('full', 'none') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-hover ">
                            <thead>
                            <tr>
                                <th> votre E-mail :</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="info">
                                <td>{{ recapCde.email }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th colspan="5"> Informations sur vos billets : {{ recapCde.nbBillet }} billet(s) {{ recapCde.typeJournee }}</th>
                        </tr>
                        </thead>
                        <tbody id="table-body">
                            {% for recapbillet in recapCde.billets %}
                                <tr>

                                    <td class="text-left">{{ recapbillet.nom }} {{ recapbillet.prenom }}</td>
                                    <td class="text-left">{{ recapbillet.dateNaissance|date('d/m/Y') }}</td>
                                    {% if (recapbillet.isTarifReduit > 0) %}
                                        <td class="text-left">Tarif réduit</td>
                                     {% else %}
                                         <td class="text-left">Sans tarif réduit</td>
                                     {% endif %}
                                    <td class="text-right"> {{ recapbillet.montant }} € TTC</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            <tr class="info">
                                <th colspan="3" class="text-left">Total de votre commande</th>
                                <th class="text-right" id="total-price"> {{ recapCde.montantTotal }} € TTC</td>
                            </tr>
                        </tbody>
                        </table>
                </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <a class="btn btn-success pull-left" href={{ path('my_app_billetterie_billet',{'id': id}) }}>
                                <i class="fa fa-arrow-circle-o-left"></i> ETAPE PRECEDENTE</a>
                            {#<a class="btn btn-success pull-right" href={{ path('my_app_billetterie_paiement',{'id': id}) }}>
                                PAIEMENT <i class="fa fa-arrow-circle-o-right"></i> </a>#}


                            <form action="{{ path('my_app_billetterie_paiement', {'id':id}) }}" method="POST">
                                <script
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="{{ stripe_public_key }}"
                                        data-amount="{{ recapCde.montantTotal * 100 }}"
                                        data-name="Billetterie du Louvre"
                                        data-description="Paiement sécurisé"
                                        data-image="{{ asset('bundles/myappbilletterie/images/logo50.jpg') }}"
                                        data-locale="fr"
                                        data-email="{{ recapCde.email }}"
                                        data-label="Régler la commande"
                                        data-allow-remember-me="false"
                                        data-currency="eur">
                                </script>
                            </form>
                        </div>
                    </div>
                        <div class="clearfix"></div>
                    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript">
        $(".stripe-button-el").addClass("btn btn-success pull-right").removeClass("stripe-button-el");
        $("button span").css("min-height", "");
    </script>
>>>>>>> refs/remotes/origin/debug
{% endblock %}